<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Marionette Contact Manager</title>
		<!-- Css del bootstrap. -->
		<link href="./assets/css/bootstrap.min.css" rel="stylesheet">
		<link href="./assets/css/bootstrap-theme.min.css" rel="stylesheet">
		<!-- Contiene el css creado por nosotros. -->
		<link href="./assets/css/application.css" rel="stylesheet">

	</head>

	<body>
		<div class="span12 titulo">
			<h1>Coge la pareja</h1>
		</div>
		
		<div class="container" id="contenidoSustituir">
		</div>

		<!-- Aquí vamos a poner la plantilla que se irá repitiendo deontro del container -->
		<script type="text/template" id="cajaPersonas">
				<div class="col-sm-2 dentrocuerpo">
					<div class="ocultoCarta <%= posicion %>_<%= nombre %>">
						<div class="col-sm-12 imagen"><img height="50px" src="<%= src %>" alt="<%= nombre %>" title="<%= nombre %>" /></div>
						<div class="col-sm-12 nombre"><%= nombre %></div>
					</div>
				</div>
		</script>
		
		
		<!-- Librerias necesarias para marionette -->
		<script src="./assets/js/vendor/jquery.js"></script>
		<script src="./assets/js/vendor/json2.js"></script>
		<script src="./assets/js/vendor/underscore.js"></script>
		<script src="./assets/js/vendor/backbone.js"></script>
		<script src="./assets/js/vendor/backbone.marionette.js"></script>

		<!-- The javascript includes are here -->
		<!--<script src="./assets/js/entities/contact.js"></script>-->
		<script src="./assets/js/bootstrap.min.js"></script>
		
		<script type="text/javascript">
			//Inicializamos Marionette.
			var ContactManager = new Marionette.Application();
			
			//Añadimos una región para poder interactuar con ella.
			ContactManager.addRegions({
				mainRegion: "#contenidoSustituir"
			});

			//Inicializamos el modelo.
			ContactManager.Contact = Backbone.Model.extend({});
			
			//Añadimos el modelo a la colección.
			ContactManager.ContactCollection = Backbone.Collection.extend({
				model: ContactManager.Contact
			});
			
			//Añadimos la plantilla con la que trabajaremos.
			ContactManager.ContactItemView = Marionette.ItemView.extend({
				template: "#cajaPersonas",
				//Añadimos los eventos a la template.
				events: {
					"click .dentrocuerpo": "elegir"
				},
				
				//La función que cargaremos cuando se produzca el evento.
				elegir: function(variable){
					var nombre = this.model.escape("nombre");
					var posicion = this.model.escape("posicion");
					$("." + posicion + "_" + nombre).addClass("selected");
					//Cuando termine de mostrar las cartas, comparará si hay dos cartas	
					$("." + posicion + "_" + nombre).show("slow",function(variable)
					{
						if($(".selected").size()%2==0)
						{;
							//Comparamos si es la misma carta.
							if($(".1_" + nombre).hasClass("selected") && $(".2_" + nombre).hasClass("selected"))
							{
								alert("Es la misma");
								//Comprobamos si queda alguna carta sin levantar, si es así, ha ganado y le muestra un mensaje
								//$(".selected").size()
								if($(".selected").size()==$(".dentrocuerpo").size())
								{
									alert("Has ganado");
								}
							}
							else
							{
								//Si no lo es, ocultamos las dos cartas y les quitamos el selected
								$(".selected").fadeOut("slow");
								$(".selected").removeClass("selected");
							}
							
						}
					});
				}
			});

			//Enlazamos la colección con la plantilla.
			ContactManager.ContactsView = Marionette.CollectionView.extend({
				itemView: ContactManager.ContactItemView
			});
			
			ContactManager.on("initialize:after", function(){
				//Introducimos los datos en la colección.
				var contacts = new ContactManager.ContactCollection(
				[
					{
						posicion: "1",
						nombre: "as",
						src: "assets/img/as.jpg"
					},
					{
						posicion: "2",
						nombre: "as",
						src: "assets/img/as.jpg"
					},
					{
						posicion: "1",
						nombre: "rey",
						src: "assets/img/rey.jpg"
					},
					{
						posicion: "2",
						nombre: "rey",
						src: "assets/img/rey.jpg"
					},
					{
						posicion: "1",
						nombre: "caballo",
						src: "assets/img/caballo.jpg"
					},
					{
						posicion: "2",
						nombre: "caballo",
						src: "assets/img/caballo.jpg"
					},
					{
						posicion: "1",
						nombre: "sota",
						src: "assets/img/sota.jpg"
					},
					{
						posicion: "2",
						nombre: "sota",
						src: "assets/img/sota.jpg"
					}
					
				]);

				//Desordenamos la colección.
				contacts.models = _.shuffle(contacts.models);
				
				//Introducimos en la variable la coleccion, para añadirla
				var contactsListView = new ContactManager.ContactsView({
					collection: contacts
				});
				
				ContactManager.mainRegion.show(contactsListView);
			});

			//Con este método, llamamos al module creado en contact.js. 
			// ContactManager.Entities.alertPublic("Hello");
			
			ContactManager.start();


			//Métodos para controlar las cartas que se levantan. --> hecho
			//Cuando levanta una carta se mostrará la carta. ---> hecho
			// Poner clase selected a la carta levantada --> hecho
			//Cuando se levante la segunda carta, se comparará con la otra carta, si acierta, se dejarán --> hecho
			//    las dos mostradas, sino, se ocultarán las dos. --> hecho
			// Desordenar el orden de las cartas aleatoriamente --> hecho
			// Cuando esten todos mostradas,el juego se dará por finalizado
			

			//Extra
			// Más diseño
			// Niveles de dificultad
				// Más parejas por pantalla
				// Cuando falles no te quite todos los aciertos
				// Si fallas 4 veces seguidas, te da una ayuda
				// Cambia las cartas de orden en la pantalla cada cierto número de fallos
		</script>
	</body>
</html>